name: Build Nuget Packages

on:
  workflow_dispatch:
      inputs:
          tagName:
            description: 'build tag name'
            required: false
            default: 'main'
            type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: checkout_branch ${{ github.event.inputs.tagName }}
      run: | 
        git checkout tags/${{ github.event.inputs.tagName }}
        echo "checkout Tag ${{ github.event.inputs.tagName }} success
        
    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Pack Blazonia nugets
      run: dotnet pack ./src/Blazonia/Blazonia.csproj -o ./packages -c Release

    - name: PackBlazonia nugets
      run: dotnet pack ./src/Blazonia.ComponentGenerator/Blazonia.ComponentGenerator.csproj -o ./packages -c Release

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: packages
        path: packages

  publish-to-nuget:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: packages
          path: packages
      - name: Push to NuGet
        run: |
          dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
          dotnet nuget push **/*.snupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
